* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}


:root {
    --colorPrincipal: rgb(210, 218, 58);
    --colorSecundario: #171717;
}


html {
    scroll-behavior: smooth;
    background-color: #f8f4f4;
    font-family: 'Poppins', sans-serif;
    color: #260e04;
}


main {
    padding: 40px 0px;
    float: left;
    width: 70%;
}

.nav_superior {
    display: flex;
    align-items: center;
    background: var(--colorSecundario);
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30px;
}

.nav_superior p {
    color: #fff;
}

li {
    list-style: none;
    padding: 10px;
    color: #042605;
}

.nav_ul>p:hover,
li:hover {
    color: #6f7f21;
}

.nav_superior>p:hover {
    color: #6f7f21;
}


.nav_ul li i {
    text-align: center;
    margin-left: 10px;
}

.nav_button_container {
    padding: 6px 70px;
    font-size: 25px;
    text-align: right;
    background: var(--colorSecundario);
}

.nav_ul {
    float: left;
    text-align: center;
    width: 15%;
    
}

.nav_ul li {
    display: block;
    margin-top: 30px;
    margin-left: 9px;
    width: 100%;
    background: var(--colorPrincipal);
    padding: 15px;
    transition: all .8s;
}


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    color: #fff;
}

/*Buscador*/
.material_icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

.search_bar {
    border: solid 1px #ccc;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 2px 10px;
    margin: 10px;
    width: 55%;
    background: #fff;
}

.search_bar:focus-within {
    border: solid 1px #aaa;
    box-shadow: 0px 2px 5px #a1a1a1;
}

.search_bar input {
    border: none;
    outline: none;
    padding: 7px;
    font-size: 18px;
    flex: 1;
}

.search_bar .actions {
    display: flex;
    gap: 2px;
}

.search_bar .actions button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #aaa;
    padding-right: 20px;
}

.search_bar .actions button:hover {
    color: #2979e2;
}

/*Cartas de productos*/

img {
    max-width: 100%;
    min-width: 80%;
}


.carta .carrito {
    padding: 12px 0px;
}

.productos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.carta {
    border: 3px solid var(--colorPrincipal);
    border-radius: 10px;
    text-align: center;
    display: block;
    width: 20%;
}

.carta p {
    padding: 20px 10px;
}

.product_name {
    font-size: large;
}

aside {
    width: 15%;
    float: right;
    text-align: center;
    background: var(--colorPrincipal);
    padding: 35px 0px;
    margin-top: 38px;
}

.nav_celu {
    display: none;
}

@media only screen and (max-width:767px) {

    .nav_celu {
        display: block;

    }

    .nav_compu {
        display: none;
    }

    .nav {
        display: flex;
        background: var(--colorSecundario);
        flex-direction: row-reverse;
        padding: 10px 15px;
        height: 45px;
    }

    .nav_ul_responsive li {
        background: var(--colorPrincipal);
        font-size: calc(15px + .2vw);
        width: 100%;
        padding: 15px 40px;
    }

    .nav_ul_responsive li i {
        text-align: center;
        margin-left: 8px;
    }

    .nav,
    main,
    aside {
        width: 100%;
    }

    .nav_ul_responsive {
        display: block;
        position: absolute;
        width: 100%;
        padding-top: 37px;
        margin-top: 37px;
        height: 37px;
    }

    .nav_li_container {
        position: relative;
        top:-1000px;
        height: calc(100vh - 64px);
        background: var(--colorPrincipal);
        transition: all 1s;
        z-index: 1;
        width:75%;
        padding-top: 27px;
    }

    .nav_ul_responsive:hover > .nav_li_container {
        top: -35px;
    }

    .nav_responsive_button_container {
        position: absolute;
        width: 100%;
        padding: 6px 20px;
        font-size: 25px;
        text-align: right;
        background: var(--colorSecundario);
        margin-top: -74px;
        z-index: 100;
    }

    .carta {
        display: flex;
        width: 100%;
        margin: 20px 30px;
        align-items: center;
    }

    .productos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    img {
        max-width: 50%;
        min-width: 40%;
    }

}

@media only screen and (min-width:768px) and (max-width:1023px) {
    .productos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .carta {
        border: 3px solid var(--colorPrincipal);
        border-radius: 10px;
        text-align: center;
        display: block;
        width: 40%;
        margin-bottom: 20px;
    }

    img {
        max-width: 70%;
        min-width: 60%;
    }
}
